*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #454545;
    color: #fff;
}

.container{
    width: 100%;
    height: 95vh;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.left .right{
    padding: 10px;
}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right{
    width: 60%;
}

.left .box{
    height: 25vh;
}

textarea{
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
}

iframe {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    outline: none;
}

label i{
    margin: 0 10px;
}

label{
    display: flex;
    background-color: #000;
    height: 30px;
    align-items: center;
}

